.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.wrapper.noLazy {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 0%;
}
.wrapper .picture img {
  width: 100%;
  height: auto;
  position: absolute;
}
.wrapper .picture img.blurryImage {
  transition: opacity ease-out 0.5s 1s;
  z-index: 1;
}
.wrapper .picture img.noLazy {
  position: static;
}
.wrapper .picture_objectFit {
  width: 100%;
  height: 100%;
}
.wrapper .picture_objectFit img {
  width: 100%;
  height: 100%;
  max-width: initial;
  object-fit: cover;
  object-position: 50% 25%;
}
.objectFitFallback {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.objectFitPicture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
